# Sensor data simulator
#
# Copyright (c) 2019 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

DT_COMPAT_ZMK_BEHAVIOR_KEY_PRESS_LIP := zmk,behavior-key-press-lip

config ZMK_BEHAVIOR_KEY_PRESS_LIP
		bool
		default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_KEY_PRESS_LIP))
